.top-layout{
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #eee;
}
.top-menu{
	width: 1100px;
	margin: 0 auto;
	padding: 6px 0;
}
a.top-menu-item{
	border-left: 1px solid #eee;
}
.top-menu-item{
	float: right;
	padding:0 10px;
	font-family: "黑体";
	font-size: 16px;
}
.top-search{
	width: 1100px;
	margin: 0 auto;
	padding: 30px 0 0 0;
}
.logo img{
	width: 130px;
	height: 100px;
}
.logo p{
	font-family: "黑体";
	font-size: 16px;
}
.search-menu{
	border: solid 2px #c40000;
	margin-top: 30px;
	margin-right: 30px;
}
.search-menu input{
	width: 350px;
	height: 35px;
	padding-left: 10px;
	border: none;
	outline: none;
}
.search-menu button{
	width: 50px;
	height: 35px;
	font-family: "黑体";
	font-size: 13px;
	background-color: #c40000;
	color: white;
	border-width: 0;
}
.top-shoppingcart>button{
	width: 100px;
	height: 39px;
	margin-top: 30px;
	margin-right: 20px;
	color: white;
	background-color: #c40000;
	border-width: 0;
	border-radius: 3px;
	font-family: "黑体";
	font-size: 14px;
}
.top-navbar{
	width: 1100px;
	height: 40px;
	margin: 0 auto;
}
.top-navbar div{
	width: 150px;
	height: 40px;
	padding-top: 10px;
	background-color: #c40000;
	color: white;
	font-family: "黑体";
	font-size: 16px;
	text-align: center;

}
.top-navbar li{
	width: 100px;
	height: 40px;
	line-height: 40px;
	font-family: "黑体";
	font-size: 16px;
	float: left;
	text-align: center;
	color: #333;
}
.top-navbar li:last-child{
	width: 120px;
	float: right;
}
.homepage-body{
	width: 100%;
	background-color: #6E0000;
}
.sidebar li{
	width: 150px;
	height: 50px;
	padding-top: 10px;
	background-color: #2D2D2D;
	font-family: "黑体";
	font-size: 15px;
	color: #aaa;
	text-align: center;
}
.homepagecarousel{
	width:950px;
	height:400px;
	float:right;
}
.homepagecarousel img{
	max-height: 400px;
	width: 950px;
}

.latestrecomm{
}
.latestrecommtitle{
	height: 50px;
	width: 1100px;
	font-size:20px;
	font-weight: bolder;
	padding: 15px 0 0 30px;
	font-family: "黑体";

}
.homepageimggroup li{
	float: left;
	width: 200px;
	height: 200px;
	margin: 0 10px;
}
.homepageimggroup img{
	width: 200px;
	height: 200px;
}
.footer{
	width: 100%;
	height: auto;
	background-color: #F5F5F5;
}
.footer img{
	width: 1100px;
	height: auto;
}



/*register*/
/*.top-layout{
	background-color: #fff;
	border-bottom: solid 1px #f0f0f0;
}
.top-bar{
	width: 1100px;
	height: 31px;
	margin: 0 auto;
	font-size: 17px;
	padding-top: 7px;
}
.quick-menu{
	padding-right: 20px;
}

.logo-register{
	margin:20px 0 0 0; 
}
.logo-register img{
	width: 100px;
	height: 85px;
	float: left;
}
.logo-register span{
	height: 35px;
	display: inline-block;
	float: left;
	border-left: solid 1px #aaa;
	font-size: 20px;
	margin: 25px 0 0 0;
	padding: 15px 0 0 10px;
}

.body-register{
	background-color: white;
}
.info-register{
	width: 700px;
	margin-left:50px; 
	border-right: solid 1px #aaa;
	float:left;
	padding: 20px 0;
}
.item-info-register{
	margin-left: 50px;
	padding: 10px 0;
}
.before-input-register{
	font-size: 15px;
	color:#aaa;
}

.item-info-register span{
	display: inline-block;
}
.input-register{
	width: 340px;
	border: solid 1px #aaa;
	height: 40px;
	margin-left: 10px;
	padding-top: 6px;
}
.input-register input{
	border: none;
	width: 300px;
	height: 28px;
	outline: none;
	margin-left: 5px;
}
.icon-register{
	margin-right:10px;
	color: #c40000; ;
	font-size: 22px;
}
.after-input-register{
	width: 210px;
	height: 40px;
	color: #aaa;
}
.register,.agreement{
	padding-left: 78px;
}
.register button{
	background-color: #eee;
	width: 150px;
	height: 50px;
	font-size: 30px;
	padding-top: 3px;
	
	box-shadow: none;
	background-color: #c40000;;
	color: white;
	font-family: "微软雅黑"；
}
.agreement input{
	padding-top: 1px;
}


.return-login{
	width: 350px;
	float: left;
	overflow: hidden;
}
.return-login img{
	width: 350px;
	height: auto;
}*/

.public-top-layout{
	border-bottom: solid 1px #f0f0f0;
	background-color: #fff;
}
.top-bar{
	width: 1100px;
	height: 30px;
	margin:0 auto;
	line-height:30px;	
	font-size:13px;
}
.public-top-layout a:hover{
	color: #c40000; ;
}
.qucik-menu{
	margin-right: 15px;


}
.qucik-menu span{
	display: inline-block;
}
.register-logo{
	margin-top: 30px;
	
}
.register-logo img{
	width: 100px;
	height: 85px;
	margin-left: 50px;
}
.register-logo span{
	border-left:solid 1px #ccc;
	font-size: 20px; 
	display: inline-block;
	height: 30px;
	padding: 10px 0 0 10px;
}
.register-body{
	background-color: #fff;
}
.register {
	margin-left: 50px;
	padding-left: 80px;
	width: 650px;
	float: left;
	margin-top: 15px;
	padding-top: 15px;
	border-right: solid 1px #eee;
}
.register-div{
	height: 35px;
	margin: 30px 0;
}
.register-div span{
	display: inline-block; 
	float: left;
}
.register-item{
	float: left;
	border: solid 1px #aaa;
	height: 38px;
	padding-top: 9px;
}
.register-item input{
	border: none;
	outline: none;
	float: left;
	margin-left: 5px;
	width: 250px;
}
.before-item{
	font-size: 15px;
	padding-top: 9px;
	margin-right: 10px;
	color: #aaa;
}
.register-icon{
	font-size: 15px;
	color: #c40000;;
	margin-right: 7px;
}
.after-item{
	width: 200px;
	padding-left: 8px;
	color: #aaa;
}
.register-btn{
	width: 250px;
	height: 36px;
	color: white;
	font-family: "仿宋";
	font-size: 18px;
	font-weight: 800;
	border: none;
}
.register-div>input{
	margin-left: 75px;
	margin-right: 3px;

}
.register-protocol>span{
	float: none;
}
.error-info{
	color: red;
}










.to-login{
	width: 400px;
	padding: 60px 0 0 30px;
	float: left;
	font-family: "黑体";
	font-size: 20px;
}
.to-login a{
	color:  #c40000;
}